.body {
    background: #EAE2B7;
    font-family: 'Oswald', sans-serif;
}

.header {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding: 0;
}

.header__title {
    font-size: 50px;
    color: #003049;
    text-shadow: #F77F00 2px 2px 2px;
    margin: 5px auto;
    text-align: center;
}

.header__link {
    color: #F77F00;
    text-decoration-line: line-through;
    text-decoration-color: #EAE2B7;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
}

.section__heading {
    color: #003049;
    text-shadow: #F77F00 2px 1px 1px;
}

.section__heading--fontsize {
    font-size: 1rem;
}

.section__paragraph {
    color: #003049;
}

.paragraph__ol--color {
    list-style-type: none;
    content: counter()
}

.paragraph__list--hyperlink {
    color: #F77F00;
    text-decoration-line: line-through;
    text-decoration-color: #EAE2B7;
}

.footer {
    font-size: x-small;
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding: 0;
}

.footer__link {
    color: #F77F00;
    text-decoration-line: line-through;
    text-decoration-color: #EAE2B7;
}