    .mainWtf {
        font-size: 3rem;
        color: goldenrod;
        font-style: oblique;
    }

    .backgroundFirst {background:beige;
    
    }

    .whoIam {
        font-size: 2rem;
        color: cornflowerblue
    }

    .allWeek {
        font-size: 1, 5rem;
        color: rebeccapurple;
    }

    html {font-family: Arial, Helvetica, sans-serif
    }

    p {color: gray;
    }

    footer {font-display: 2px;
    font-family: 'Courier New', Courier, monospace;
    }
    span {color:red;
        font-weight: bold;
    }





    
