   .diary {
       width: 100%;
       max-width: 700px;
       margin: 32px auto;
   }

   .diary__title {
       font-size: 50px;
       color: #003049;
       text-shadow: #F77F00 2px 2px 2px;
       position: absolute;
       top: 15px;
       left: 40%;
       margin: 5px auto;
   }

   .diary__look {
       background: #EAE2B7;
       font-family: 'Oswald', sans-serif;
   }

   .diary__look--textshadow {
       color: #003049;
       text-shadow: #F77F00 2px 1px 1px;
   }

   .diary__look--fontsize {
       font-size: 1rem;
   }

   .diary__paragraph {
       color: #003049;
   }

   .diary__links {
       color: #F77F00;
       text-decoration-line: line-through;
       text-decoration-color: #EAE2B7;
   }

   .diary__footer {
       font-size: x-small;
   }